.catalog {
  @include container;

  min-height: 1207px;
}

.catalog__list {
  @include lists;
}

.catalog__item {
  position: relative;

  min-height: 374px;

  &:last-child {
    min-height: 399px;
  }

  margin-bottom: 30px;

  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0 6px 10px rgba(41, 52, 73, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(41, 52, 73, 0.1);
  }
}

.catalog__item * {
  margin: 0;
}

.catalog__item-title {
  @include bold-text($bold-text, 17px, 24px);

  padding-left: 27px;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__item-info {
  @include paragraph($color-paragraph, 13px, 30px);

  position: relative;

  padding-left: 27px;
  margin-bottom: 41px;

  &::after {
    content: "";
    position: absolute;
    top: 48px;
    left: 25px;

    width: 204px;
    height: 1px;

    background-color: #ececec;
  }
}

.catalog__item-price {
  @include bold-text($bold-text, 15px, 24px);

  padding-left: 27px;
}

.catalog__item-image {
  width: 260px;
  height: 195px;

  margin-bottom: 23px;
}

.catalog__item-buy {
  position: absolute;
  right: 20px;
  bottom: 30px;

  font-size: 0;

  border: none;
  background-color: #ffffff;

  cursor: pointer;
}

.catalog__order-image {
  width: 20px;
  height: 19px;

  fill: #444444;
  opacity: 0.2;

  &:hover {
    fill: $primary-color;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    @include container-tablet;

    min-height: 1163px;
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;

    min-width: 668px;
    min-height: 334px;

    &:last-child {
      min-height: 334px;

      margin-bottom: 0;
    }

    margin-bottom: 49px;
  }

  .catalog__item-image {
    width: 334px;
    height: 334px;

    margin-bottom: 0;
  }

  .catalog__item-column {
    display: flex;
    flex-direction: column;

    width: 330px;

    padding-top: 25px;
  }

  .catalog__item-title {
    @include bold-text($bold-text, 20px, 24px);
  }

  .catalog__item-info {
    @include paragraph($color-paragraph, 15px, 30px);

    margin-bottom: 198px;

    &::after {
      top: 205px;
      left: 32px;

      width: 268px;
    }
  }

  .catalog__item:nth-child(3) .catalog__item-info {
    margin-bottom: 174px;

    &::after {
      top: 181px;
    }
  }

  .catalog__item-price {
    @include bold-text($bold-text, 17px, 24px);

    padding-left: 30px;
  }

  .catalog__item-buy {
    right: 25px;
    bottom: 36px;
  }

  .catalog__order-image {
    width: 21px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    @include container-desktop;

    min-height: 659px;
    margin-bottom: 8px;
  }

  .catalog__item-image {
    width: 316px;
    height: 462px;
  }

  .catalog__item-column {
    width: auto;

    padding-top: 22px;
  }

  .catalog__list {
    display: flex;
    align-items: flex-start;
  }

  .catalog__item {
    flex-direction: column;

    min-width: 315px;
    min-height: 659px;

    margin-right: 52px;

    &:last-child {
      min-height: 659px;
      margin-right: 0;
    }
  }

  .catalog__item-info {
    padding-left: 25px;
    margin-bottom: 61px;

    &::after {
      top: 68px;
      left: 28px;

      width: 256px;
    }
  }

  .catalog__item:nth-child(3) .catalog__item-info {
    margin-bottom: 37px;

    &::after {
      top: 44px;
    }
  }

  .catalog__item-price {
    padding-left: 25px;
  }

  .catalog__item-buy {
    bottom: 30px;
  }
}
