.contacts {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 868px;
}

.contacts__title {
  @include container;
  @include bold-text($bold-text, 18px, 30px);

  margin-top: 9px;
  margin-bottom: 26px;
}

.contacts__address {
  @include container;

  margin-bottom: 38px;
}

.contacts__address-email,
.contacts__address-address {
  display: flex;
}

.contacts__address-email {

  margin-bottom: 30px;
}

.contacts__address-text {
  margin: 0;

  @include paragraph($color-paragraph, 15px, 30px);
  font-style: normal;
}

.contacts__address-address .contacts__address-text:last-child {
  width: 142px;
  margin-left: 31px;
}

.contacts--email {
  position: relative;

  margin-left: 31px;

  &::after {
    content: "";
    position: absolute;

    width: 176px;
    height: 1px;

    background-color: $primary-color;
  }

  &:hover {
    color: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-interactive {
  position: absolute;

  border: 0;

  z-index: 1;
}

.contacts__map {
  @include container;

  padding: 0;
}

.contacts__map-pin {
  position: absolute;
  top: 427px;
  left: 139px;
}

.contacts__feedback {
  @include container;

  width: 260px;

  margin-top: 40px;
  padding-top: 13px;

  font-size: 18px;
  line-height: 20px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contacts--email::after {
    position: absolute;
    top: 30px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    flex-wrap: wrap;

    min-height: 927px;
  }

  .contacts__title {
    @include bold-text($bold-text, 43px, 50px);
    @include container-tablet;

    position: relative;

    padding-top: 61px;
    padding-left: 45px;
    margin-bottom: 49px;

    &::after {
      content: "";
      position: absolute;
      top: 46px;
      left: 668px;

      width: 47px;
      height: 81px;

      background: url("../img/icon-flag.svg") 0 0 no-repeat;
    }
  }

  .contacts__address-text {
    @include paragraph($color-paragraph, 17px, 30px);
  }

  .contacts__address {
    @include container-tablet;

    display: flex;

    & .contacts__address-text:last-child {
      min-width: 230px;
    }

    margin-bottom: 56px;
  }

  .contacts__address-address,
  .contacts__address-email {
    min-width: 334px;
  }

  .contacts--email {
    margin-left: 22px;

    &::after {
      top: 29px;
      left: 4px;

      width: 200px;
    }
  }

  .contacts__address-address .contacts__address-text:last-child {
    margin-left: 24px;
  }

  .contacts__map {
    @include container-tablet;

    padding: 0;
  }

  .contacts__map-interactive {
    width: 768px;
    height: 457px;
  }

  .contacts__map-image {
    width: 768px;
    height: 457px;
  }

  .contacts__map-pin {
    top: 444px;
    left: 363px;
  }

  .contacts__feedback {
    @include bold-text($bold-text, 17px, 20px);

    width: 230px;

    margin-top: 51px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include container-desktop;

    position: relative;

    min-height: 633px;

    padding-left: 220px;
    padding-top: 141px;
  }

  .contacts * {
    margin: 0;
    padding: 0;
  }

  .contacts__title {
    @include bold-text($bold-text, 53px, 57px);

    margin-bottom: 49px;

    &::after {
      top: -8px;
      left: -107px;
    }
  }

  .contacts__address {
    flex-direction: column;

    width: 305px;

    margin-bottom: 80px;
  }

  .contacts__address-email {
    margin-bottom: 30px;
  }

  .contacts__address-address,
  .contacts__address-email {
    padding-left: 4px;
  }

  .contacts--email {
    margin-left: 24px;
  }

  .contacts__map-interactive {
    top: 71px;
    right: 50px;

    width: 525px;
    height: 457px;
  }

  .contacts__map-image {
    position: absolute;
    top: 71px;
    right: 50px;

    width: 525px;
    height: 457px;
  }

  .contacts__map-pin {
    top: 216px;
    left: 813px;
  }

  .contacts__feedback {
    padding-top: 13px;
    margin-left: 5px;
  }
}
