.page-footer__copyright {
  @include bold-text($bold-text, 19px, 18px);

  min-height: 80px;
  margin: 0;
  padding-top: 29px;
  padding-left: 37px;

  border-top: 1px solid #e5e5e5;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

.copyright__link-icon {
  position: relative;

  font-size: 0;
}

.page-footer__copyright-image {
  position: absolute;
  bottom: -11px;
  left: 25px;

  fill: $primary-color;

  &:hover {
    fill: #46c1ae;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    padding-right: 56px;
  }

  .page-footer__copyright-image {
    bottom: 4px;
    left: 156px;
  }
}


@media (min-width: $desktop-width) {
  .page-footer__copyright {
    padding-top: 12px;
  }
}
