.copyright {
  @include bold-text($bold-text, 19px, 18px);

  min-height: 80px;
  margin: 0;
  padding-top: 29px;
  padding-left: 37px;

  border-top: 1px solid #e5e5e5;
}

.copyright:active {
  opacity: 0.3;
}

.copyright__icon {
  position: relative;

  font-size: 0;
}

.copyright__image {
  position: absolute;
  bottom: -11px;
  left: 25px;

  fill: $primary-color;

  &:hover {
    fill: #46c1ae;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-right: 56px;

    border-top: 0;
  }

  .copyright__image {
    bottom: 4px;
    left: 156px;
  }

  .copyright:-moz-any-link {
    padding-right: 51px;
  }

  .copyright__image:-moz-any-link {
    bottom: -14px;
    left: 24px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .copyright {
      padding-right: 51px;
    }

    .copyright__image {
      bottom: -14px;
      left: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-top: 12px;
  }
}
