.page-header {
  @include container;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  min-height: 79px;

  padding: 0;
}

.page-header__logo {
  padding-top: 22px;
  margin-left: 116px;
  margin-bottom: 15px;
}

.page-header__logo-image {
  height: 35px;
  width: 86px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    @include container-tablet;

    flex-wrap: nowrap;
  }

  .page-header__logo {

    position: absolute;
    margin-left: 0;
    margin-bottom: 0;
  }

  .page-header__logo-image {
    height: 46px;
    width: 113px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include container-desktop;

    position: relative;
  }

  .page-header__logo {
    top: 10px;
    left: 500px;

    padding-top: 0;
  }

  .page-header__logo-image {
    height: 72px;
    width: 149px;
  }
}
