.preview {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 320px;
  min-height: 489px;

  padding: 0;
  padding-top: 71px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

  background: #fafafa url("../img/hero-mobile@1x.jpg") -127px -18px no-repeat;
  background-size: 575px 373px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.preview__text {
  display: none;
}

.preview__wrapper {
  @include container;
}

.preview__title {
  @include bold-text($bold-text, 27px, 30px);

  width: 246px;

  margin: 0;
  margin-left: 7px;

  text-align: center;
}

.preview__list {
  @include lists;

  display: flex;
  flex-wrap: wrap;

  min-width: 320px;
}

.preview__item {
  min-height: 103px;

  &:active .preview__link-text,
  &:active .preview__link-image {
    opacity: 0.3;
  }
}

.preview__item:nth-child(1) {
  background-color: $primary-color;

  & .preview__link-text {
    margin-right: 84px;
  }
}

.preview__item:nth-child(2) {
  background-color: #56c3b2;

  & .preview__link-text {
    margin-right: 71px;
  }
}

.preview__link {
  display: flex;

  min-height: 103px;

  padding-top: 25px;

  font-size: 19px;
  line-height: 24px;
}

.preview__item:hover + .preview__link {
  padding-top: 20px;
}

.preview__link-text {
  @include bold-text(#ffffff, 19px, 24px);

  width: 130px;
  margin: 0;
}

.preview__list .preview__link-text {
  color: #ffffff;
}

.preview__link-image {
  fill: #35a999;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .preview__list {
    margin-top: 120px;
  }
}

@media (min-width: $tablet-width) {
  .preview {
    @include container-tablet;

    justify-content: space-between;

    min-height: 746px;

    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
    padding-top: 18px;

    border-top: 1px solid #ececec;
    background: #fafafa url("../img/hero-tablet@1x.jpg") -191px 0 no-repeat;
    background-size: 1150px 746px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .preview__wrapper {
    @include container-tablet;

    padding: 0 36px;
    width: auto;
  }

  .preview__text {
    display: block;

    @include paragraph($color-paragraph, 15px, 24px);

    margin: 0;
    padding-left: 437px;
  }

  .preview__title {
    @include bold-text($bold-text, 43px, 50px);

    width: 500px;

    margin: 0;
    margin-top: -181px;
  }

  .preview__list {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 106px;
      left: -12px;

      width: 770px;
      height: 24px;

      background: url("../img/bg-zigzag-fill.svg") 0 0 no-repeat;
      background-size: 770px 24px;
    }
  }

  .preview__item {
    min-height: 117px;
    width: 334px;
  }

  .preview__link {
    min-height: 115px;
  }

  .preview__item:nth-child(1) .preview__link-text {
    margin-right: 91px;
  }

  .preview__item:nth-child(2) .preview__link-text {
    margin-right: 73px;
  }

  .preview__link-text {
    @include bold-text($bold-text, 20px, 30px);
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .preview__title {
      margin-top: 112px;
      margin-left: 49px;
    }

    .preview__list {
      margin-top: 375px;
    }
  }
}

@media (min-width: $desktop-width) {
  .preview {
    @include container-desktop;

    min-width: 1150px;
    min-height: 746px;

    margin-top: -98px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;

    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") center 0 no-repeat;
    background-size: 1150px 746px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .preview__text {
    margin: 0;
    margin-bottom: 16px;
    padding-left: 819px;
  }

  .preview__title {
    @include bold-text($bold-text, 53px, 57px);

    min-width: 620px;

    margin-top: -190px;
    margin-left: 0;
  }

  .preview__list {
    min-width: 1050px;

    &::after {
      top: 99px;
      left: -100px;

      width: 1250px;
      height: 34px;

      background: url("../img/bg-zigzag-fill.svg") 0 0 no-repeat;
      background-size: 1250px 34px;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .preview__title {
      margin-top: 93px;
      margin-left: 180px;
    }
  }

  .preview__item {
    min-width: 525px;
  }

  .preview__item:nth-child(1) .preview__link-text {
    margin-right: 285px;
  }

  .preview__item:nth-child(2) .preview__link-text {
    margin-right: 263px;
  }
}
