.production {
  @include container;

  min-height: 561px;
}

.production__wrapper {
  position: relative;

  min-height: 503px;

  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0 6px 10px rgba(41, 52, 73, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(41, 52, 73, 0.1);
  }
}

.production__title {
  @include bold-text($bold-text, 17px, 24px);

  width: 140px;
  min-height: 96px;

  margin: 0;
  padding-top: 23px;
  padding-left: 90px;
}

.production__title-image {
  position: absolute;
  top: 29px;
  left: 33px;

  fill: $primary-color;
}

.production__video {
  margin-bottom: 23px;
}

.production__video-button {
  position: absolute;
  top: 130px;
  left: 72px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.production__video-image {
  width: 101px;
  height: 77px;

  transition-duration: 0.5s;
}

.production__video-button:hover .production__video-image {
  transform: scale(1.2);
}

.production__video-button:active .production__video-image {
  transform: scale(0.8);

  opacity: 0.3;
}

.production__info {
  @include paragraph($color-paragraph, 13px, 24px);

  width: 223px;

  padding-left: 33px;
  margin-top: 0;
  margin-bottom: 25px;
}

.production__to-order {
  width: 192px;

  font-size: 17px;
  line-height: 16px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}

@media (min-width: $tablet-width) {
  .production {
    @include container-tablet;

    min-height: 806px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;

    min-height: 743px;
  }

  .production__title {
    @include bold-text($bold-text, 20px, 24px);

    min-height: auto;
    width: 500px;

    padding-top: 15px;
    padding-left: 105px;
    margin-bottom: 32px;
  }

  .production__title-image {
    top: 488px;
    left: 41px;
  }

  .production__video {
    width: 668px;
    height: 455px;

    order: -1;
  }

  .production__video-button {
    top: 186px;
    left: 276px;
  }

  .production__info {
    @include paragraph($color-paragraph, 15px, 30px);

    width: 625px;

    padding-left: 39px;
    margin-bottom: 35px;
  }

  .production__to-order {
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    @include container-desktop;

    min-height: 560px;
  }

  .production__wrapper {
    flex-wrap: wrap;

    min-height: 455px;
  }

  .production__title {
    width: 230px;

    margin-left: 760px;
    padding-top: 95px;
    padding-left: 0;
  }

  .production__title-image {
    top: 40px;
    left: 760px;
  }

  .production__video {
    position: absolute;

    width: 682px;
    height: 455px;

    margin-bottom: 0;
  }

  .production__video-button {
    left: 285px;
  }

  .production__info {
    width: 230px;

    margin-left: 760px;
    padding-left: 0;
    margin-bottom: 47px;
  }

  .production__to-order {
    width: 230px;

    margin: 0;
    margin-left: 760px;
  }
}
