.social__list {
  @include lists;

  display: flex;
  justify-content: space-between;

  width: 142px;
  min-height: 80px;

  padding-left: 57px;
}

.social__item:nth-child(1) {
  padding-top: 30px;
}

.social__item:nth-child(2) {
  padding-top: 26px;
  margin-left: 41px;
}

.social__item:nth-child(3) {
  padding-top: 31px;
  margin-left: 41px;
}

.social__link {
  font-size: 0;
}

.social__link--instagram {
  width: 22px;
  height: 21px;
}

.social__link--facebook {
  width: 15px;
  height: 28px;
}

.social__link--twitter {
  width: 23px;
  height: 20px;
}

.social__image {
  fill: #000000;

  &:hover {
    fill: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-left: 57px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-left: 57px;
  }

  .social__item:nth-child(1) {
    padding-top: 13px;
  }

  .social__item:nth-child(2) {
    padding-top: 8px;
  }

  .social__item:nth-child(3) {
    padding-top: 13px;
  }
}
