$bold-text: #000000;
$color-paragraph: #444444;
$color-placeholder: #d2d2d2;
$color-button: #444444;
$primary-color: #63d1bb;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
